/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Utils */

.header-container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90px;
}

.header-container>*{
    border: 3px dashed black;
    background-color: goldenrod;
    height: 35px;
}

.main-container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    height: 500px;
}

.main-container>*{
    border: 3px dashed black;
   
}

.big-main-container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    height: 1000px;
}

.big-main-container>*{
    border: 3px dashed black;
   
}

/* Header */


header{
    background-color: #add8e6;
    height: 90px;
}


.left-box{
    width: 200px;
    padding: 5px;
}

.nav-box{
    flex-grow: 1;
    text-align: center;
    padding: 5px;
}

.right-box{
    width: 200px;
    text-align: right;
    padding: 5px;
}

/* Main */

            /*SECTION 1 (Blue) */

.blue-section{
    background-color: #00008b;
}


.center-box{
    background-color: hotpink;
    width: 900px;
    height: 400px;
}

/*        SECTION 2 (White) */

.white-section{
    background-color: white;
}

.blue-box{
    background-color: #1e90ff;
    width: 60%;
    height: 400px;
}

.pink-box{
    background-color: #ffc0cb;
    width: 40%;
    height: 400px;
}

/*  SECTION 3 (Grey) */

.grey-section{
    background-color: #d3d3d3;
}

/*   SECTION 4 (Stessi valori Section 2) White */

/*    SECTION 5 (Big grey) */

.big-grey-section{
    background-color: #d3d3d3;
}

.big-green-box{
    background-color: #228b22;
    width: 100%;
    height: 800px;
}