/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Utils */

.header-container{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90px;
}

/* Header */


header{
    background-color: #add8e6;
    height: 90px;
}


.header-container>*{
    border: 3px dashed black;
    background-color: goldenrod;
    height: 35px;
}


.left-box{
    width: 200px;
    padding: 5px;
}

.nav-box{
    flex-grow: 1;
    text-align: center;
    padding: 5px;
}

.right-box{
    width: 200px;
    text-align: right;
    padding: 5px;
}

/* Main */

.blue-section{
    background-color: blue;
    height: 450px;
}

.center-box{
    background-color: hotpink;
    width: 500px;
    height: 300px;
}